### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [407]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [408]:
total_number_of_players=purchase_data_df["SN"].nunique()
total_number_of_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [409]:
number_unique_items=purchase_data_df['Item ID'].nunique()
number_unique_items
average_price=purchase_data_df['Price'].mean()
average_price
number_of_purchases=purchase_data_df["Item Name"].count()
number_of_purchases
total_revenue=purchase_data_df["Price"].sum()
total_revenue
summary_df=pd.DataFrame({"Number of Unique Items":[number_unique_items],"Average Price":[average_price],"Number of Purchases":[number_of_purchases],"Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [410]:
# Use loc function to isolate genders
male_df= purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
unique_male_count=male_df["SN"].nunique()

female_df= purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
unique_female_count=female_df["SN"].nunique()

other_gender_df= purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
other_gender_count= other_gender_df["SN"].nunique()

gender_df = pd.DataFrame({"Gender": ["Male", 
                                     "Femle", 
                                     "Other/Non-Disclosed"],
                          "Total Count": [unique_male_count,
                                          unique_female_count, 
                                          other_gender_count]})
gender_df


percentage = ((gender_df["Total Count"]/total_number_of_players)*100)
gender_df["Percentage of Players"] = percentage

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:.2f}%".format)

gender_df.style.hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [411]:
purchasecount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [412]:
total_purchase_value

Item ID  Item Name                        Price
0        Splinter                         1.28      $5.12
1        Crucifer                         3.26      $9.78
2        Verdict                          2.48     $14.88
3        Phantomlight                     2.49     $14.94
4        Bloodlord's Fetish               1.70      $8.50
                                                    ...
179      Wolf, Promise of the Moonwalker  4.48     $26.88
180      Stormcaller                      3.36      $3.36
181      Reaper's Toll                    1.66      $8.30
182      Toothpick                        4.03     $12.09
183      Dragon's Greatsword              1.09      $3.27
Name: Price, Length: 183, dtype: object

In [413]:
avgpurchaseprice

Age Group
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.94
dtype: object

In [414]:
# Use groupby function to obtain purchase count by gender
purchase_count=purchase_data_df.groupby(["Gender"])
purchasecount=purchase_count["Purchase ID"].count()
# Use groupby function to obtain total purchase value by gender
total_purchase_value=purchase_count["Price"].sum()
total_purchase_value
# Use groupby function to obtain avg. purchase price by gender
avg_purchase_price=total_purchase_value/purchasecount
avgpurchaseprice=avg_purchase_price.round(2).map("${:.2f}".format)
avgpurchaseprice
# Use groupby function to obtain avg. purchase total per person by gender
avg_purchase_total_per_person=total_purchase_value/[unique_female_count,
                                          unique_male_count, 
                                          other_gender_count]
avg_purchase_total_per_person
# New Dataframe with Gender
Purchasing_Analysis_df=pd.DataFrame({'Purchase Count':purchasecount,
                             'Total Purchase Value':total_purchase_value,
                             'Average Purchase Price':avgpurchaseprice,
                             'Average Purchase Total per Person':avg_purchase_total_per_person
                                    })

Purchasing_Analysis_df['Total Purchase Value'] = Purchasing_Analysis_df['Total Purchase Value'].map("${:.2f}".format)
Purchasing_Analysis_df['Average Purchase Total per Person']=Purchasing_Analysis_df['Average Purchase Total per Person'].map("${:.2f}".format)
Purchasing_Analysis_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Total per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,$1967.64,$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [415]:
# Create the bins in which Data will be held
# Labels are <10, 10-14, 15-19, 20-24,25-29，30-34，35-39，40+.   
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]
labels=["<10", "10-14", "15-19", "20-24","25-29","30-34","35-39","40+"]
# To add a new column claled Age Group
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=labels)
age_df=purchase_data_df.drop_duplicates('SN')
age_group=age_df.groupby(["Age Group"])
age_count=age_group['Age Group'].count()
percentage_of_players=age_count/total_number_of_players
percentage_of_players=percentage_of_players*100
#Create new dataframe
Age_Demographics_df=pd.DataFrame({'Total Count':age_count,
                             'Percentage of Players':percentage_of_players
                                 })
Age_Demographics_df["Percentage of Players"] = Age_Demographics_df["Percentage of Players"].astype(float).map("{:.2f}%".format)
Age_Demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [416]:
# Use groupby function to obtain purchase count by age
age_group=purchase_data_df.groupby(["Age Group"])
purchase_count=age_group['Age Group'].count()
# Use groupby function to obtain total purchase value by age
total_purchase_value=age_group["Price"].sum()
# Use groupby function to obtain avg. purchase price by age
avg_purchase_price=total_purchase_value/purchase_count
avgpurchaseprice=avg_purchase_price.round(2).map("${:.2f}".format)
avgpurchaseprice
# Use groupby function to obtain avg. purchase total per person by age
# Insert previous age_count data
age_df1=purchase_data_df.drop_duplicates('SN')
age_group1=age_df1.groupby(["Age Group"])
age_count1=age_group1['Age Group'].count()
avg_purchase_total_per_person=total_purchase_value/age_count1
avg_purchase_total_per_person=avg_purchase_total_per_person.round(2).map("${:.2f}".format)
avg_purchase_total_per_person
total_purchase_value=total_purchase_value.round(2).map("${:.2f}".format)
# New DataFrame
Purchasing_Analysis_age_df=pd.DataFrame({'Purchase Count':purchase_count,
                             'Total Purchase Value':total_purchase_value,
                             'Average Purchase Price':avgpurchaseprice,
                             'Average Purchase Total per Person':avg_purchase_total_per_person
                                    })
Purchasing_Analysis_age_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Total per Person
Age Group,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,$1114.06,$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [417]:
# Group by SN
SN_group=purchase_data_df.groupby(["SN"])
SN_purchase_count=SN_group["SN"].count()
SN_purchase_count
# Find the highest five total purchase
total_purchase_value=SN_group["Price"].sum()
total_purchase_value
# Find the according average purchase price
average_purchase_price=total_purchase_value/SN_purchase_count
average_purchase_price=average_purchase_price.round(2).map("${:.2f}".format)
# New Data Frame
Top_Spenders=pd.DataFrame({'Purchase Count':SN_purchase_count,
                            'Average Purchase Price':average_purchase_price,
                           'Total Purchase Value':total_purchase_value})
Top_Spenders= Top_Spenders.sort_values("Total Purchase Value", ascending=False)
Top_Spenders.head(5)

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [418]:
# Retrieve the Item ID, Item Name, and Item Price columns
new_df=purchase_data_df[["Item ID","Item Name","Price"]]
# Find the most popular Item
purchase_count=new_df.groupby(["Item ID","Item Name","Price"])
purchase_count_group=purchase_count["Item Name"].count()
purchase_count_group
# Find Total Purchase Value
total_purchase_value=purchase_count["Price"].sum()
total_purchase_value=total_purchase_value.round(2).map("${:.2f}".format)
# New Data Frame
Most_Popular_Items=pd.DataFrame({'Purchase Count':purchase_count_group,
                           'Total Purchase Value':total_purchase_value})
Most_Popular_Items=Most_Popular_Items.sort_values("Purchase Count", ascending=False)
Most_Popular_Items.head(5)

,,,Purchase Count,Total Purchase Value
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,$50.76
145,Fiery Glass Crusader,4.58,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,$31.77
82,Nirvana,4.90,9,$44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [419]:
Most_Popular_Items_new=Most_Popular_Items.sort_values("Total Purchase Value",ascending=False)
Most_Popular_Items_new.head()

,,,Purchase Count,Total Purchase Value
Item ID,Item Name,Price,,
63,Stormfury Mace,4.99,2,$9.98
29,"Chaos, Ender of the End",1.98,5,$9.90
173,Stormfury Longsword,4.93,2,$9.86
1,Crucifer,3.26,3,$9.78
38,"The Void, Vengeance of Dark Magic",2.37,4,$9.48